.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 20px;
}
.container2{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 20px;
}
table{
    margin: 20px; 
}
tr:nth-child(even){
    background-color: rgb(170, 170, 170);
}
main{
    padding: 16px;

}
body{
    margin: 0;
}
h1{
    color: rgb(55, 85, 9);
}
a:visited{
    color: rgb(3, 192, 50);
}
a:hover{
    color: rgb(255, 241, 162);
}
#navbar{
    color: rgb(255, 255, 255);
    padding: 24px;
}
header{
    background-color: rgb(190, 0, 0);
    padding: 24px;
}
a{
    text-decoration: none;
}
footer{
    padding: 24px;
    background-color: rgb(3, 192, 50);
}
